{% extends 'base/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
    .cards {
        display:flex;
        flex-wrap: wrap;
    }

    .card {
        border: 1px solid black;
        padding: 20px;
        margin: 20px;
        width: 300px
    }
    </style>
    <div class="cards">
        {% for movie in movies %}
            <div class="card">
                <p>{{ movie.name }}</p>
                <p>Acteur(s)</p>
                {% for actor in movie.actors %}
                    <a href="{{ path('actor', {id: actor.id}) }}">{{ actor }}</a>
                {% endfor %}
                <p>Genre(s)</p>
                {% for genre in movie.genre %}
                    <a href="{{ path('genre', {id: genre.id}) }}">{{ genre }}</a>
                {% endfor %}
                <br>
                <h4>Description</h4>
                <p>{{ movie.synopsis }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
